@import "fonts.css";
@import "media-query.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-light', sans-serif;
    color: #E5E4E6;
    /*height: 1500px;*/
}

a {
    font-family: 'Montserrat-light', sans-serif;
    color: #E5E4E6;
}
input:active, input:focus,input:hover{
    outline: none !important;
}
/*header*/
.clean-nav {
    background: #A3D444;
    padding: 2% 0;
}


.navbar-light.clean-nav .nav-link {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 22px;
    color: #ffffff;
    display: inline-block;
    position: relative;
}

/*effect-underline*/
.navbar-light.clean-nav .nav-link:after,
.hover-underline:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.navbar-light.clean-nav .nav-link:hover:after,
.hover-underline:hover:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*effect underline*/
.clean-logo {
    width: 95px;
    height: 95px;
}
.clean-logo-link{
    position: absolute;
    bottom: -4px;
}

.clean-nav-toogler.navbar-toggler {
    outline: none;
}

/*~~~~~~~~~~~~~~~~~~header~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~left aside block~~~~~~~~~~~~~~~~~~*/
.cleaning-system{
    /*background: rgb(0,38,51);*/
    background: #002633;
    color: #A3D444;
}
.cleaning-system > div{
    border-bottom: 2px solid rgba(163,212,68,0.1);
}
h1{
    font-size: 18px;
    text-transform: uppercase;
}
h5{
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}
.open-time-and-phone > li > a{
    color: #A3D444;
    text-decoration: none;
}
.open-time-and-phone > li > a:hover{
    text-decoration: none;
}
.open-time-and-phone i {
    transform: rotate(90deg);
}
.bid-list li {
    cursor: pointer;
}
.bid-list li a{
    text-transform: capitalize;
    color: #A3D444;
    font-size: 18px;
    cursor: pointer;
}
.bid-list li a:hover{
    text-decoration: none;
}
.open-time-and-phone .call-us{
    cursor: pointer;
}
#aside-search-input{
    background: none;
    border: none;
    outline: none;
}
.search-item{
    border-bottom: 1px solid #A3D444;
}
.search-item label{
    cursor: pointer;
}
.search-item input,
.search-item input:focus,
.search-item input:active{
    color: #A3D444;

}
.form-control.search-item:active,
  .form-control.search-item:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.clear-aside-card{
    background: none;
}
.clear-aside-card button{
color: #A3D444;
    text-transform: capitalize;
    font-size: 18px;
    display: inherit;
    width: 100%;
}
.clear-aside-card button>i{
    right: 0;
}
.clear-aside-card button:hover,
.clear-aside-card button:focus{
    text-decoration: none;
    color: #A3D444;
}
.clear-aside-card .card-header{
    border-bottom: none;
}
.clear-aside-card .card-body li{
    cursor: pointer;
}
.clear-aside-card .card-body li>a{
    color: #A3D444;
}
.clear-aside-card .card-body li>a:hover,
.clear-aside-card .card-body li>a:active{
    color: #A3D444;
    text-decoration: none;
}

    /*~~~~~~~~~~~~~~~~~~left aside block~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~changing part~~~~~~~~~~~~~~~~~~*/

/*phone-call*/
.call-cleaner {
    height: 300px;
    background: url("../images/background-eco.jpg");
    background-position-x: 20%;
    background-size: cover;
}

.call-animation {
    background: #A3D444;
    width: 135px;
    height: 135px;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 5px #bde75e;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    right: 6%;
    top: 20%;
}
.call-animation>div{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: solid 5px #b3db59;
    margin: 0 auto;


}
.animating-phone {
    width: 135px;
    height: 135px;
    line-height: 135px;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    font-size: 60px;
    color: #002633;
}

.animating-phone:hover {
    color: #ffffff;
    transition: color 0.1s ease-in;
}

@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4), 0 0 0 20px rgba(255, 255, 255, 0.2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4), 0 0 0 30px rgba(255, 255, 255, 0.2);
    }

}

/*phone-call*/
/*services*/
.services>div>figure{
    height: 415px;
}
.service-item {
    background: #A3D444;
    border-radius: 0 30%;
    padding: 7% 5% 13% 5%;
}

.service-item h3,
.service-item p {
    color: #002633;
    font-family: 'Montserrat-light', sans-serif;;
}
.service-item img{
    width: 200px;
    height: 200px;
}

/*services*/
.advertising{
    background: url("../images/eco-cleaners-london-premiumclean.jpg");
    height: 540px;
    background-size: 100% 100%;

}

/*changing part*/




/*online help*/
.online-help{
    padding: 1% 2%;
    background: #A3D444;
    right: 0;
    top: 50%;
    border-radius: 0 0 30px 30px;
    transform-origin: right top 0;
    transform: rotate(90deg);
    cursor: pointer;
}
.online-help:hover{
    background: #002633;
    transition: all 0.2s ease-in;
}
.online-help a{
    color: #ffffff;
    letter-spacing: 2px;
}

.online-help a:hover {
    text-decoration: none;

}

/*online help*/


/*footer*/
footer{
    background: #002633;
    padding-bottom: 1%;
}
footer h3{
    color: #A3D444;
}
.footer-green-line{
    height: 10px;
    background: #A3D444;
}
.footer-soc-icons{
    border-bottom: 2px solid rgba(163,212,68,0.1);
}
.footer-soc-icons li{
    cursor: pointer;
    background: #A3D444;
    width: 65px;
    border-radius: 0 30%;
    height: 50px;
    line-height: 50px;
}
.footer-soc-icons li>a{
    background: #A3D444;
    color: #ffffff;
    font-size: 26px;

}
.footer-soc-icons li:hover ,
.footer-soc-icons li a:hover{
    transition: color 0.2s ease-in;
    color: #002633;
    text-decoration: none;
}
.footer-navigation ul li a:hover{
    text-decoration: none;
    color: #A3D444;
    transition: color 0.2s ease-in;

}
/*footer*/